* {
    font-family: 'Bebas Neue', cursive;
    background-color: antiquewhite;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

h1 {
    margin: 3rem 0 3rem 0;
    text-align: center;
}

h2 {
    margin: 2rem 0 1rem 0;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.converter {
    margin: 0.5rem 0 0.5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#input {
    height: 25px;
    padding: 15px;
    font-size: 20px;
    outline: none;
    display: inline-block;
}

#submitBtn {
    height: 59px;
    width: 60px;
    transition: background-color, box-shadow, 0.15s;
}

#submitBtn:focus {
    background-color: rgb(226, 210, 192);
    box-shadow: 1px 1px 2px gray;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 60px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-block {
    padding: 10px 4px 10px 10px;
}