* {
    font-family: 'Bebas Neue', cursive;
    background-color: antiquewhite;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

h1 {
    margin: 3rem 0 3rem 0;
    text-align: center;
}

h2 {
    margin: 2rem 0 1rem 0;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.converter {
    margin: 0.5rem 0 0.5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#input {
    height: 25px;
    padding: 15px;
    font-size: 20px;
    outline: none;
    display: inline-block;
}

#submitBtn {
    height: 59px;
    width: 60px;
    transition: background-color, box-shadow, 0.15s;
    cursor: pointer;
}

#submitBtn:focus,
#submitBtn:hover {
    background-color: rgb(226, 210, 192);
    box-shadow: 1px 1px 2px gray;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 60px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-block {
    padding: 10px 4px 10px 10px;
}


/* dropdown button */

.box-for-dropdown {
    display: flex;
    justify-content: center;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    width: 134.4px;
    border: solid 2px;
    cursor: pointer;
    transition: background-color, box-shadow, 0.15s;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgb(226, 210, 192);
    box-shadow: 1px 1px 2px gray;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}