* {
    font-family: 'Bebas Neue', cursive;
    background-color: antiquewhite;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

h1 {
    margin: 3rem 0 3rem 0;
    text-align: center;
}

h2 {
    margin: 2rem 0 1rem 0;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.converter {
    margin: 0.5rem 0 0.5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 3rem;
    margin: auto;
}